<div class="col-md-8 offset-md-2 form-new">
  <h3>New Country-Sale Check</h3>
  <form action="/gms_app/create" method="POST" autocomplete="off">
    <div class="form-group">
      <label>Apk</label>
      <input type="text" class="form-control" name="apk" placeholder="Apk" value='' required></input>
    </div>
    <hr>
    <div class="form-group">
      <label>Packages</label>
      <input type="text" class="form-control" name="packages" placeholder="Packages" value='' required />
    </div>
    <div class="form-group">
      <label>Code Name</label>
      <input type="text" class="form-control" name="code_name" placeholder="Code Name" value='' required />
    </div>
    <div class="form-group">
      <label>Code Version</label>
      <input type="text" class="form-control" name="code_version" placeholder="Code Version" value='' required />
    </div>
    <div class="form-group">
      <a class="btn btn-secondary" href="/gms_app"><i class="fa fa-arrow-circle-left"></i>Back</a>
      <button type="submit" class="btn btn-success float-right"><i class="fa fa-database"></i> Submit</button>
    </div>
  </form>
</div>
