<div class="top-view">
  <nav class="navbar navbar-dark bg-danger">
    <a class="navbar-brand" href="#">
      <img src="https://www.flaticon.com/svg/static/icons/svg/194/194279.svg" width="30" height="30"
        class="d-inline-block align-top" alt="">
      DATA FILTER
    </a>
  </nav>
</div>
