<div class="top-view">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="https://www.flaticon.com/svg/static/icons/svg/194/194279.svg" width="30" height="30"
        class="d-inline-block align-top" alt="">
      DATA FILTER
    </a>
    <ul class="nav navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li class=" nav-item">
        <a class="nav-link active p-2" href="/user">USER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active p-2" href="/country_sale">COUNTRY SALE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active p-2" href="/gms_app">GMS APP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active p-2" href="/gms_version">GMS VERSION</a>
      </li>
      <li class="nav-item nav-pills">
        <form action="/logout?_method=DELETE" method="POST">
          <button class="btn btn-info">
            <i class=" fa fa-sign-out" aria-hidden="true"></i>Thoát
          </button>
        </form>
      </li>
    </ul>
  </nav>
</div>
