.main-view {
  height: 100%;
}

.top-view {
  margin-bottom: 10px;
}

.body-main {
  height: 100%;
}

.body-left {
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.body-right {
}

.header-review {
  margin-bottom: 10px;
}

.nav-tab button {
  margin: 10px;
}

.body-review {
  max-height: 600px;
  overflow: scroll;
}

.nav-pagination {
  width: 100%;
}

.form-new {
  border: 1px greenyellow solid;
}

.form-login {
  background-color: rgb(182, 252, 194);
  margin-top: 25px;
  padding: 10px;
}

#tbl_body_sdt tr td p {
  margin-bottom: 0px;
}
