<div class="col-md-4 offset-md-4 form-login">
  <% if(locals.flash) { %>
  <span class="badge badge-danger"><%= flash %></span>
  <% } %>
  <form action="/sign_in" method="POST" autocomplete="off">
    <div class="form-group">
      <label for="inputUsername">User name</label>
      <input type="text" name="username" class="form-control" id="inputUsername">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" name="password" class="form-control" id="inputPassword">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
