<div class="col-md-4 offset-md-4 form-new">
  <h3>New version Check</h3>
  <form action="/gms_version/create" method="POST" autocomplete="off">
    <div class="form-group">
      <label>Version</label>
      <input type="text" class="form-control" name="version" placeholder="version" value='' required />
    </div>
    <hr>
    <div class="form-group">
      <a class="btn btn-secondary" href="/gms_version"><i class="fa fa-arrow-circle-left"></i>Back</a>
      <button type="submit" class="btn btn-success float-right"><i class="fa fa-database"></i> Submit</button>
    </div>
  </form>
</div>
