<div class="col-md-4 offset-md-4 form-login">
  <% if(messages.error) { %>
  <h3><span class="badge badge-danger"><%= messages.error %></span></h3>
  <% } %>
  <form action="/login" method="POST" autocomplete="on">
    <div class="form-group">
      <label for="inputUsername">User name</label>
      <input type="text" name="username" class="form-control" id="inputUsername">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" name="password" class="form-control" id="inputPassword">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
