<div class="col-md-4 offset-md-4 form-new">
  <h3>New Country-Sale Check</h3>
  <form action="/country_sale/create" method="POST" autocomplete="off">
    <div class="form-group">
      <label>Country</label>
      <input type="text" class="form-control" name="country" placeholder="country" value='' required />
    </div>
    <hr>
    <div class="form-group">
      <label>Sale code</label>
      <input type="text" class="form-control" name="sale_code" placeholder="Sale code" value='' required />
    </div>
    <div class="form-group">
      <a class="btn btn-secondary" href="/country_sale"><i class="fa fa-arrow-circle-left"></i>Back</a>
      <button type="submit" class="btn btn-success float-right"><i class="fa fa-database"></i> Submit</button>
    </div>
  </form>
</div>
